{% extends 'base.html' %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="box">
            <h1 class="title is-3">Password Reset Complete</h1>
            <p>Your password has been successfully reset. You can now log in with your new password.</p>
            <div class="field">
                <div class="control">
                <a class="button is-primary"                     
                hx-get="{% url 'login' %}"
                hx-target="#modal-login"                
                x-cloak
                @click.stop.prevent="modalloginopen = !modalloginopen"                
                > 
                        
                        Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}