{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<div class="section">
    <div class="container">
        <div class="box">
            <h1 class="title is-3">Reset Password</h1>
            {% if form.errors %}
                <div class="notification is-danger">
                    <button class="delete" onclick="this.parentElement.style.display='none'"></button>
                    Please correct the error below.
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        {% render_field form.email class="input is-primary" placeholder="user@example.com" %}
                        {% if form.email.errors %}
                            <p class="help is-danger">{{ form.email.errors|first }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-success" type="submit">Send Password Reset Email</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}
