{% extends 'base.html' %}
{%block content%}

    <div class="container has-text-centered">
        <p class="title is-4">Projeto de compartilhamento de questões</p>
        <div x-data="{ openNotificationspaceerror: true }">

            {% if error_messages %}
                <div  x-cloak class="notification is-danger" x-show="openNotificationspaceerror">
                    <button class="delete" x-on:click.stop.prevent="openNotificationspaceerror = !openNotificationspaceerror"></button>
                    {{ error_messages.invalid_login }}
                </div>
            {% endif %}
        
        </div>
        <button class="button is-link is-centered"
        hx-get="{% url 'create_space' %}"
        hx-target="#modal-space"
        hx-trigger="click"
        x-cloak
        @click.stop.prevent="modalusercreatespaceerror = !modalusercreatespaceerror"
        @click.stop="modalcreatespace = !modalcreatespace">
        Crie um Espaço
        </button>
        <br><br>

        <!-- Painel de espaços **********************************-->
        <nav class="panel is-success">
            <p class="panel-heading">
              Painel de espaços
            </p>
            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input"
                type="text" 
                placeholder="Pesquisar espaços"
                hx-post="{% url 'search_space' %}"
                hx-target='#space_selection'                
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-trigger="keyup changed delay:500ms"                
                name="search"
                >
                <span class="icon is-left">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </span>
              </p>
            </div>

            <div id="space_selection"
            hx-get="{% url 'espaco_list_view' %}"
            hx-trigger="load"
            >
            </div>
        
        

    </div>

{%endblock content%}

