<script>
    $(function() {
        var selectedTags = {{ selected_tags|safe }};
        var initialLoad = true;  // Sinalizador para o carregamento inicial
        
        $('#jstree').jstree({
            'core': {
                'data': {{ tags|safe }},
                'check_callback': true,
                'themes': {
                    "variant" : "large",
                    'icons': false  // Desativa os ícones
                }
            },
            'plugins': ['checkbox', 'wholerow' {% if espaco.user == request.user %}, 'dnd'{% endif %}],
            "checkbox": {
                "three_state": false, // to avoid that fact that checking a node also check others
                "cascade": "down" // to ensure selection is cascaded to children
            }
        });

        $('#jstree').on('loaded.jstree', function() {
            // Marcar os nós que estão na variável de sessão
            $('#jstree').jstree(true).get_json('#', { 'flat': true }).forEach(function(node) {
                if (selectedTags.includes(node.text)) {
                    $('#jstree').jstree('check_node', node.id);
                }
            });
            initialLoad = false;  // Carregamento inicial concluído
        });

        $('#jstree').on("changed.jstree", function (e, data) {
            if (initialLoad) {
                return;  // Ignorar eventos durante o carregamento inicial
            }

            let espacoId = "{{ espaco.id }}";  // Assume que você tem essa variável disponível no template

            // Coletando todas as tags selecionadas
            let selectedTags = $('#jstree').jstree(true).get_checked().map(function(nodeId) {
                let node = $('#jstree').jstree(true).get_node(nodeId);
                return node.text;
            });

            // Coletando todas as tags não selecionadas
            let allNodes = $('#jstree').jstree(true).get_json('#', { 'flat': true });
            let deselectedTags = allNodes.filter(function(node) {
                return !selectedTags.includes(node.text);
            }).map(function(node) {
                return node.text;
            });

            htmx.ajax('POST', `{% url 'selecionar_desselecionar_lista' %}`, {
                headers: { "X-CSRFToken": "{{ csrf_token }}" },
                values: { 'espaco': espacoId, 'selected_tags': JSON.stringify(selectedTags), 'deselected_tags': JSON.stringify(deselectedTags) }
            });
        });

        {% if espaco.user == request.user %}
            $('#jstree').on("select_node.jstree", function (e, data) {
                if (initialLoad) {
                    return;  // Ignorar eventos durante o carregamento inicial
                }

                let espacoId = "{{ espaco.id }}";
                let nodeId = data.node.id;
                let node = $('#jstree').jstree(true).get_node(nodeId);
                let tag = node.text;

                // Atualizar o botão de edição
                htmx.ajax('POST', `{% url 'tag_edicao_botao' %}`, {
                    headers: { "X-CSRFToken": "{{ csrf_token }}" },
                    target: '#edit_button',
                    values: { 'tag': tag, 'espaco': espacoId }
                });
            });

            $('#jstree').on("deselect_node.jstree", function (e, data) {
                $('#edit_button').html('');  // Limpa o conteúdo do botão de edição ao desmarcar uma tag
            });
        
            function saveHierarchy() {
                let hierarchy = $('#jstree').jstree(true).get_json('#', { flat: true });
                $.ajax({
                    type: 'POST',
                    url: '{% url "save_hierarchy" %}',
                    data: {
                        'hierarchy': JSON.stringify(hierarchy),
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if(response.status == 'success') {
                            alert('Hierarchy saved successfully!');
                        } else {
                            alert('Failed to save hierarchy.');
                        }
                    }
                });
            }
        {% endif %}
    });
</script>

{% if espaco.user == request.user %}
    <div class="columns is-gapless is-multiline is-mobile p-2">
        <div class="column is-2">
            <button class="button is-info is-small is-focused" onclick="saveHierarchy()">Salvar hierarquia</button>
        </div>
        <div class="column is-2" id="edit_button">   
        </div>
    </div>
{% endif %}

<div id="jstree"></div>
