{% if espacos %}
    <span id="space_selection">
        {% for espaco in espacos %}
            <a class="panel-block is-active">
            <span class="panel-icon">
                <i class="fas fa-book" aria-hidden="true"></i>
            </span>
                <div class="content">
                    <p class="title is-5">{{espaco.title}}</p>
                    <p class="subtitle is-7">{{espaco.description}}</p>
                </div>
            </a>        
            </span>
        {% endfor %}
{% else %}
        <a class="panel-block is-active">
            Recarregue a página...
        </a>
        </nav>
{% endif %}