{% extends 'base.html' %}
{%block content%}

<style>
  /* Change default tab link color */
.tabs li a {
  color: var(--info); /* Use Bulma's 'info' color variable */
}

/* Change background color of active tab */
.tabs li.is-active a {
  color: var(--info-invert); /* Text color against the info background */
  background-color: var(--info);
} 


</style>
<div id="selectedTagsData" style="display: none;">
  {{ selected_tags_json }}
</div>

<script type="text/javascript">
  
   

  function updateMinhalista(updatedData) {
    window.minhalista = JSON.parse(updatedData);
}
  document.addEventListener('eventupdateselectedtags', function(evt) {
    updateMinhalista(evt.detail.selected_tags_json)
});
  window.addEventListener('load', function(evt) { 
    selectedTagsJson = document.getElementById('selectedTagsData').textContent;
    updateMinhalista(selectedTagsJson);    
}); 
function updateHxValsAndTrigger(button) {
  // Update hx-vals with the current checkbox states
  button.setAttribute('hx-vals', JSON.stringify({
      "espaco": "{{ espaco.id }}",
      "nao_respondidas": document.querySelector("input[name='nao_respondidas']").checked,
      "com_comentarios": document.querySelector("input[name='com_comentarios']").checked,
      "com_resolucao": document.querySelector("input[name='com_resolucao']").checked,
  }));

  // Trigger the custom event to initiate the HTMX request
  button.dispatchEvent(new CustomEvent('customEvent'));
}
</script>


<!-- Modal tag-->
<div id="modal-tag">
</div>
<div id="editar-tag-modal">
</div>
<section class="hero is-small is-black">
    <div class="hero-body">
      <div class="columns is-mobile">
        <div class="column has-text-centered">
              <p class="title is-size-2">
                {{espaco.title}}
              </p>
                <p class="subtitle is-size-7">
                  {{espaco.description}}
                </p>                              
        </div>                   
    </div>
           
      <p class="control has-icons-left">
        <input class="input is-medium is-focused is-primary" type="text" placeholder="Pesquisa de palavras-chave em questões, comentários ou resoluções">
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>    
</section>
<div id="none"></div>
<div>
  <nav class="panel" id="panel_id">
    <div class="panel-heading">
      <div class="columns is-mobile">
        <div class="column">          
          <a hx-get="{% url 'question_create' espaco=espaco.title %}"
          hx-target="#none"
          >
            <button class="button is-info"> 
              <span class="icon is-small">
                <i class="fa-solid fa-circle-plus"></i>
              </span>
              <span>Adicionar nova questão</span>                
            </button>
          </a>
        </div>
        <div class="column is-narrow">
          <div class="buttons is-right">
            <button class="button is-info"
             hx-get="{% url 'tag_creation' espaco=espaco.id %}"
             hx-target="#modal-tag"
             hx-trigger="click"
             x-cloak
             @click.stop="modaltagopen = !modaltagopen">
             <span class="icon is-small">
              <i class="fa-solid fa-circle-plus"></i>
            </span>
             <p>Criar nova tag</p></button>
          </div>
        </div>        
      </div>
    </div>
    <div class="has-text-centered has-background-success has-text-white p-2 has-border-success"
      x-cloak
      x-show="successmessage"
      @taglistcreated.window = "successmessage = !successmessage"
      @taglistcreated.window.debounce.5000ms="successmessage = !successmessage"
      @taglistchangededit.window = "successmessage = !successmessage"
      @taglistchangededit.window.debounce.5000ms="successmessage = !successmessage"
      @taglistchangeddelete.window = "successmessage = !successmessage"
      @taglistchangeddelete.window.debounce.5000ms="successmessage = !successmessage"
      >      
      <p><span class="icon">
        <i class="fa-solid fa-circle-check"></i>
      </span> Alterações salvas com sucesso!</p>
    </div>

    
    <div class="panel-block">
      <strong>Questões</strong>
      <div class="tabs " x-data="{ one: false, two: false, three: false }">
        <ul>
          <li :class="one ? 'is-active' : ''">
            <a @click.prevent="one = !one">
              <label class="checkbox has-hover-background">
                <input type="checkbox" name="nao_respondidas" :checked="one">
                não respondidas
              </label>
            </a>
          </li>
          <li :class="two ? 'is-active' : ''">
            <a @click.prevent="two = !two">
              <label class="checkbox has-hover-background">
                <input type="checkbox" name="com_comentarios" :checked="two">
                com comentários
              </label>
            </a>
          </li>
          <li :class="three ? 'is-active' : ''">
            <a @click.prevent="three = !three">
              <label class="checkbox has-hover-background">
                <input type="checkbox" name="com_resolucao" :checked="three">
                com resolução
              </label>
            </a>
          </li>
        </ul>
      </div>
    </div>
    
    
    
    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input is-primary"
        type="text"
        placeholder="Pesquisar entre todas as tags"
        hx-post="{% url 'search_tag' %}"
        hx-target='#tag_selection'
        hx-vals='{"espaco": "{{espaco.id}}"}'
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-trigger="keyup changed delay:500ms"
        name="search"
        hx-swap="innerHTML"
        >
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>
    <div hx-get="{% url 'lista_categorias' %}"
    hx-vals='{"espaco": "{{espaco.id}}"}'
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-trigger="load, taglistcreated from:window, taglistchangededit from:window, taglistchangeddelete from:window"
    hx-swap="innerHTML"
    hx-target="#categoria_lista"
    >
    </div>
    <div id="categoria_lista">
    </div>
    <br>
    

    {% comment %} Atualiza o tags_selecionadas {% endcomment %}
    <div hx-get="{% url 'update_tags_selecionadas' %}"
        hx-vals='{"espaco": "{{espaco.id}}"}'
         hx-target="#tags_selected"
         hx-trigger="taglistchangededit from:body, taglistchanged from:body, taglistchangeddelete from:body, selecionardesselecionar from:body">
    </div>

    {% comment %} Atualiza o lista_tags para a categoria que foi criada ou editada ou deletada {% endcomment %}
    <div hx-get="{% url 'lista_tags' %}"
         hx-vals='js:{"total": event.detail.value}'
         hx-target="#tag_selection"
         hx-trigger="taglistcreated from:body, taglistchangededit from:body, taglistchangeddelete from:body, taglistchanged from:body">
    </div>

    <div class="columns is-gapless is-multiline is-mobile">
      <div class="column is-7">
        <div id="tag_selection">
        </div>
      </div>
      <div class="column is-5">
        <div class="box" id="tags_selected">
          {% include 'espaco/tags_selecionadas.html' %}    
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="container is-flex is-justify-content-center" style="padding-top:1.5rem;padding-bottom:1.5rem;">
  <div class="tabs is-toggle" x-data="{ one: false, 
                                        two: false,
                                        three: false, 
                                        four: false,
                                        backgroundcolor: 'background-color: #3298dc;'                                        
                                      }"
                                      @click.outside="one = false; two = false; three = false; four = false;">
     <ul>
        <li x-bind:class="one ? 'is-active' : ''" >         
         <a x-on:click="one = true; two = false; three = false;four= false;"
            x-bind:style="one ? backgroundcolor : ''">
           <span class="icon">
             <i class="fa-solid fa-puzzle-piece"></i>
           </span>
           <p>Para você</p>
           <span class="icon">
             <i class="fa-solid fa-caret-down"></i>
           </span>
         </a>
       </li>
       <li x-bind:class="two ? 'is-active' : ''" >
        <a x-on:click="two = true; one = false; three = false; four= false;"
           x-bind:style="two ? backgroundcolor : ''">
          <span class="icon">
            <i class="fa-regular fa-comment-dots"></i>
          </span>
          <p>Não comentadas</p>
          <span class="icon">
            <i class="fa-solid fa-caret-down"></i>
          </span>
        </a>
      </li>
       <li x-bind:class="three ? 'is-active' : ''" >
         <a x-on:click="three = true; one = false; two = false; four= false;"
            x-bind:style="three ? backgroundcolor : ''">
           <span class="icon">
             <i class="fa-regular fa-star"></i>
           </span>
           <p>As melhores</p>
           <span class="icon">
             <i class="fa-solid fa-caret-down"></i>
           </span>
         </a>
       </li>
       <li x-bind:class="four ? 'is-active' : ''" >
         <a x-on:click="four = true; one = false; two = false; three = false;"
            x-bind:style="four ? backgroundcolor : ''"
            hx-get="{% url 'ultimas_questoes_adicionadas' %}"
            hx-vals='{"espaco": "{{espaco.id}}", "page":"{{ page }}"}'
            hx-target="#questoes_infinitas"
            hx-trigger=" click"
            hx-swap="innerHTML">
           <span class="icon">
             <i class="fa-solid fa-upload"></i>
           </span>
           <p>Últimas questões adicionadas</p>
           <span class="icon">
             <i class="fa-solid fa-caret-down"></i>
           </span>
         </a>
       </li>
     </ul>
  </div>
 </div>

<div id="questoes_infinitas">
</div>


{%endblock content%}