{% extends 'base.html' %}
{%block content%}
<style>
  .panel-tabs-scrollable {
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
  }
  
  .panel-tabs {
    display: inline-block;
    white-space: nowrap;
  }
</style>
<!-- Modal tag-->
<div id="modal-tag">
</div>
<section class="hero is-small is-link">
    <div class="hero-body">
      <p class="title">
        {{espaco.title}}
      </p>
        <p class="subtitle is-size-7">
          {{espaco.description}}
        </p>      
      <p class="control has-icons-left">
        <input class="input is-medium is-focused is-danger" type="text" placeholder="Pesquisa de palavras-chave em questões, comentários ou resoluções">
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
        
    </div>
</section>
<div>
  <nav class="panel">
    <div class="panel-heading">
      <div class="columns is-mobile">
        <div class="column">
          Painel de Tags
        </div>
        <div class="column is-narrow">
          <div class="buttons is-right">
            <button class="button is-info"            
             hx-get="{% url 'tag_creation' espaco=espaco.id %}"             
             hx-target="#modal-tag"
             hx-trigger="click"
             x-cloak
             @click.stop="modaltagopen = !modaltagopen">
             Criar nova tag</button>
          </div>
        </div>
      </div>
    </div>    
    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input" 
        type="text" 
        placeholder="Pesquisar dentre todas as tags"
        hx-post="{% url 'search_tag' %}"
        hx-target='#tag_selection'
        hx-vals='{"espaco": "{{espaco.id}}"}'
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-trigger="keyup changed delay:500ms"
        name="search"
        >
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>
    <div class="panel-tabs-scrollable">
      <p class="panel-tabs">
        {% if quantidade_tags_por_categoria|length > 0 %}
          <button class="button is-link is-small is-outlined is-responsive"
          hx-get="{% url 'lista_tags' %}"
          hx-vals='{"espaco": "{{espaco.id}}","categoria": "all"}'
          hx-target="#tag_selection"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-trigger="click"
          >
          <span class="icon">
            <i class="fa-regular fa-square-check"></i>
          </span>
            <p>All</p>
            <p>({{quantidade_total_tags}})</p>
          </button>
            {% for tag in quantidade_tags_por_categoria %}                    
              <button class="button is-link is-small is-outlined is-responsive"
              hx-get="{% url 'lista_tags' %}"
              hx-vals='{"espaco": "{{espaco.id}}","categoria": "{{tag.category}}"}'
              hx-target="#tag_selection"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
              hx-trigger="click"                 
              >
              <span class="icon">
                <i class="fa-regular fa-square-check"></i>
              </span>
            <p>{{ tag.category }}</p>
            <p>({{ tag.quantidade_tags }})</p>
              </button>
            {% endfor %}
        {% else %}
          <p>Você não possui nenhuma tag adicionada</p>
        {% endif %}
      </p>
    </div>
    <div id="tag_selection">
    </div>
    
  </nav>
</div>

<div class="box" id="tags_selected">
  {% include 'espaco/tags_selecionadas.html' %}    
</div>





  
  
{%endblock content%}