{% if results %}
{% for espaco in results %}
    <a class="panel-block is-active"
    hx-get={% url 'redirect_to_space' %}      
    hx-vals='{"espaco": "{{espaco.id}}"}'
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-trigger="click"
    >
        <span class="panel-icon">
            <i class="fas fa-book" aria-hidden="true"></i>
        </span>
        <div class="content">
            <p class="title is-5">{{espaco.title}}</p>
            <p class="subtitle is-7">{{espaco.description}}</p>
        </div>
    </a>
{% endfor %}
{% else %}
<p>Nenhuma comunidade correspondente, você ainda pode criá-lo</p>
{% endif %}