<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        <script src="{% static 'js/htmx.min.js' %}" defer></script>       
        <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">       
        
    </head>
    <body>
        
        <script src="{% static 'js/cdn.min.js' %}"></script>
        <nav x-data="{ open: false }" x-cloak class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item brand-text is-size-4 has-text-dark" href="/">
                    QUAAC
                </a>
                <a role="button" class="navbar-burger burger" @click.stop="open = !open">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>

                
            </div>
                       
            
            <div class="navbar-menu" x-cloak x-bind:class="open ? 'is-active' : ''" x-on:click.stop.outside="open = false">
                <div class="navbar-start">  
                    <div class="navbar-item">
                        
                            <div class="control">
                                <input class="input is-rounded is-fullwidth" type="text" placeholder="Pesquise por questões...">
                            </div>
                         
                    </div>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item" href="/">
                        Sobre
                    </a>
         
                    <a class="navbar-item">
                        Criar espaço
                    </a>
         
                    <a class="navbar-item">
                        Login
                    </a>
                    
                    <a class="navbar-item">
                        <strong>Register</strong>
                    </a> 
                </div>
            </div>
         </nav>
         
            
            

    </body>
</html>
