{% extends 'base.html' %}
{%block content%}
{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<div id="selectedTagsData2" style="display: none;">
  {{ selected2_tags_json }}
</div>
<script defer>
  function updateMinhalista2(updatedData) {
    window.minhalista2 = JSON.parse(updatedData);
  
  }
  
  document.addEventListener('eventupdateselectedtags2', function(evt) {
    updateMinhalista2(evt.detail.selected2_tags_json)
  });
  
  window.addEventListener('load', function(evt) { 
    selectedTagsJson2 = document.getElementById('selectedTagsData2').textContent;
    updateMinhalista2(selectedTagsJson2);    
  });  
</script>

<div id="modal-tag2">
</div>
<div id="editar-tag-modal2">
</div>
<div id="forms-container">
{% include 'questoes/create_question_form.html' %}
</div>
 
{% endwith %}

{%endblock content%}
