
<style>
.block {
  word-wrap: break-word; /* fallback for older browsers */
  overflow-wrap: break-word; /* CSS3 property to break long words */
  word-break: break-all; /* break at any character to prevent overflow */
  hyphens: auto; /* add hyphens when breaking words */
}

</style>
<div x-data="{ successq: true }" x-init="setTimeout(() => successq = false, 3000)">
  <div class="panel-block has-background-success has-text-white p-2 has-border-success"
       x-cloak
       x-show="successq">
    <span class="icon">
      <i class="fa-solid fa-circle-check"></i>
    </span>
    <p>Questão criada com sucesso!</p>
  </div>
</div>
<section class="section">
  <div class="container is-justify-content-center is-fullwidth">
    <div class="block">
      <div class="columns is-mobile">      
        <div class="column">
          <div class="box">
            <div class="columns is-mobile has-background-white-ter">
              <div class="column is-narrow">
                <div style="width: 20px">{{ question.id }}</div>
              </div>
              <div class="column">
                <p class="is-size-7">Created by: {{ question.user.name }}</p>
              </div>
              <div class="column is-narrow">                    
                <button class="button is-small is-info">
                  <span class="icon">
                    <i class="fa-solid fa-pencil"></i>
                  </span>
                  <p>Editar questão</p>
                </button>                    
              </div>       
            </div>            
            <div class="columns is-mobile">
              <div class="column">
                <div class="tags">
                  {% for tag in tags %}
                    <span class="tag is-primary">{{ tag }}</span>
                  {% endfor %}
                </div>
              </div>                
            </div>
            
            <hr>
            <div class="content">
              <div class="block">
                {{ question.body|safe }}
              </div>
            </div>      
            <div class="block">
              <div class="columns is-mobile">
                <div class="column" x-data="{ resolved: false }">
                  <button :class="{'button': true, 'is-focused': true, 'is-info': !resolved, 'is-success': resolved}"
                          hx-get="{% url 'marcar_resolvida' %}"
                          hx-trigger="click"
                          hx-vals='{"question": "{{question.id}}"}'
                          hx-target="#marcar_resolvida"
                          hx-swap="innerHTML"
                          @click="resolved = true">
                    Responder</button>
                </div>
                <div id="marcar_resolvida">
                </div>
                <div class="column has-text-right">
                  <button class="button is-danger is-inverted">
                    Reportar
                  </button>
                </div>
              </div>
            </div>            
            <hr>
            <div class="block">
              <div 
              hx-get="{% url 'questao_int_tab' %}"
              hx-trigger="atualizatabquestao from:body"
              hx-vals='{"question": "{{question.id}}"}'
              hx-swap="innerHTML"
              >
              {%include 'questoes/questao_int_tab.html' %}
              </div>
              <div id="question_{{ question.id }}">
              </div>    
            </div>
          </div>
        </div>       
      </div>
    </div>
  </div>
</section>
