{% load static %}


<style>
  .alternative-button {
    background-color: #FAFAFA; 
    border: none; 
    padding: 10px 20px;     
    transition: background-color 0.3s ease;
    width: 100%; 
  }
  
</style>

<section class="section ">
    <div class="container is-justify-content-center is-fullwidth">
    <div class="block"> 
      <div class="columns is-mobile">      
        <div class= "column">
          <div class="box">
            <div class="columns is-mobile has-background-white-ter ">
                <div class="column is-narrow">
                    <a href="" style=" width : 20px" > {{ question.id }}</a>
                </div>
                <div class="column">
                    <p class="is-size-7">Created by: {{ question.user.name }}</p>
                </div>
                <div class="column is-narrow">                    
                    <button class="button is-small is-info">
                        <span class="icon">
                            <i class="fa-solid fa-pencil"></i>
                        </span>
                        <p>Editar questão</p>
                    </button>                    
                </div>       
            </div>            
            <div class="columns is-mobile">
                <div class="column">
                    <div class="tags">
                        {% for tag in tags %}
                            <span class="tag is-primary">{{ tag }}</span>
                        {% endfor %}
                    </div>
                </div>                
            </div>
            <hr>
        <div class="content">
            <div>{{ question.body|safe }}</div>
        </div>
        {% if alternativas %}
            <div class="container">
                <div class="block" style="text-align:left">
            {% for alternativa in alternativas %}
            
                <div class="column is-full" x-data="{ selected : false,
                                                    color: 'background-color: #8cb9f3;'
                                                    }">
                    <button class="alternative-button" x-on:click="selected=!selected" x-bind:style="selected ? color : ''" >
                      <div class="columns is-mobile">
                        <div class="column is-narrow">
                          <input type="checkbox" class="checkbox" x-bind:checked="selected"  style="width : 20px">
                        </div>
                        <div class="column">
                          {{ alternativa.text|safe }}
                        </div>
                      </div>
                    </button>
                </div>
            {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="block">
            <button class="button is-info is-focused">Responder</button>
        </block>
        <hr>
        <div class="block">
            <div class="tabs is-boxed">
                <ul>
                  <li>
                    <a href="#">
                      <span class="icon is-small">
                        <i class="fa-solid fa-users-gear"></i>
                      </span>
                      <span>Resoluções</span>
                    </a>
                  </li>
                  <li>
                    <a
                    hx-get="{% url 'comentario' %}"
                    hx-vals='{"question": "{{question.id}}"}'        
                    hx-target="#question_{{ question.id }}"                    
                    hx-trigger="click, comentariosalvo from:body"
                    hx-swap="innerHTML"
                    >                    
                      <span class="icon is-small">
                        <i class="fa-regular fa-comments"></i>
                      </span>
                      <span>Dúvidas e discussões</span>
                    </a>
                  </li>                                 
                </ul>                        
              </div>
              <div id="question_{{ question.id }}">
              </div>    
          </div>
        </div> 
      </div>       
    </div>
    </div>
  </section>
  