<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <p class="block">
                <strong class="is-size-4">Questões filtradas por:</strong>
            </p>
            <p class="block">
                {% for tag in tags %}
                <span class="tag is-primary">{{ tag }}</span>
                {% endfor %}
                {% if respondidas %}
                <span class="tag is-primary">não respondidas</span>
                {% endif %}
                {% if comentadas %}
                <span class="tag is-primary">com comentários</span>
                {% endif %}
                {% if resolucao%}
                <span class="tag is-primary">com resolução</span>
                {% endif %}
            </p>
        </div>
    </div>

    {% for question in page.object_list %}
    {% include 'questoes/questao_int.html' %}
    {% endfor %}
    <div class="box">
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        {% if page.has_previous %}
        <a class="pagination-previous" 
           hx-get="{% url 'questoes_por_tag' %}"
           hx-target="#questoes_infinitas"
           hx-vals='{"espaco": "{{espaco.id}}", "page": "{{page.previous_page_number}}"}'
           hx-trigger="click"
           hx-swap="innerHTML">Anterior</a>
        {% else %}
        <a class="pagination-previous" disabled>Anterior</a>
        {% endif %}
        {% if page.has_next %}
        <a class="pagination-next" 
           hx-get="{% url 'questoes_por_tag' %}"
           hx-target="#questoes_infinitas"
           hx-vals='{"espaco": "{{espaco.id}}", "page": "{{page.next_page_number}}"}'
           hx-trigger="click"
           hx-swap="innerHTML">Próximo</a>
        {% else %}
        <a class="pagination-next" disabled>Próximo</a>
        {% endif %}
        <ul class="pagination-list">
            {% for num in page.paginator.page_range %}
            <li>
                <a class="pagination-link {% if num == page.number %}is-current{% endif %}"
                   hx-get="{% url 'questoes_por_tag' %}"
                   hx-target="#questoes_infinitas"
                   hx-vals='{"espaco": "{{espaco.id}}", "page": "{{num}}"}'
                   hx-trigger="click"
                   hx-swap="innerHTML" aria-label="Ir para a página {{ num }}">
                    {{ num }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    </div>
    <br>
</div>
