{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form class="form"
name="form_questao"
hx-post="{% url 'editar_questao' question.id %}">
    {% csrf_token %}
    <div class="block" style="margin: 1.5rem;">
      <h1 class="title is-3">Revise a questão antes de postá-la</h1>      
    </div>
    <div class="box" style="margin: 1.5rem;">
      <article class="message is-info">
        <div class="message-header">
          <p>Atenção!</p>
        </div>
        <div class="message-body">
          <div class="columns is-mobile is-gapless">
            <div class="column is-narrow">
              <div class="control" style="width: 20px;">
                {% render_field form_questao.confirm class="checkbox" name="confirm"%}
              </div>
            </div>
            <div class="column">
              <p class="has-text-black ">
                Confirme que não existe essa questão no espaço <strong>{{espaco.title}}</strong>
              </p>
            </div>
              {% if form_questao.confirm.errors %}
                  <p class="help is-danger is-size-5">{{ form_questao.confirm.errors|first }}</p>
              {% endif %}
          </div>
        </div>
      </article>
    </div>
    <nav class="panel is-dark" style="margin: 1.5rem;">
      <div class="panel-heading">
        <div class="columns is-mobile">
          <div class="column">
            <p class="is-size-5" style="font-weight: normal;">
            Selecione as tags que melhor identifiquem a questão
            </p>
          </div>
          <div class="column is-narrow">
            <div class="buttons is-right">
              <button class="button is-info"
              hx-get="{% url 'tag_creation2' espaco=espaco.id %}"             
              hx-target="#modal-tag2"
              hx-trigger="click"
              x-cloak
              @click.stop="modaltagopen = !modaltagopen">
              <span class="icon is-small">
                <i class="fa-solid fa-circle-plus"></i>
              </span>
              <p>Criar nova tag</p></button>
            </div>
          </div>
        </div>
      </div>
      <div class="has-text-centered has-background-success has-text-white p-2 has-border-success"
        x-cloak
        x-show="successmessage"
        @taglistcreated.window = "successmessage = !successmessage"
        @taglistcreated.window.debounce.5000ms="successmessage = !successmessage"
        @taglistchangededit.window = "successmessage = !successmessage"
        @taglistchangededit.window.debounce.5000ms="successmessage = !successmessage"
        @taglistchangeddelete.window = "successmessage = !successmessage"
        @taglistchangeddelete.window.debounce.5000ms="successmessage = !successmessage"
        >        
        <p><span class="icon">
          <i class="fa-solid fa-circle-check"></i>
        </span> Alterações salvas com sucesso!</p>
      </div>
      <div class="panel-block">
        <p class="control has-icons-left">
          <input class="input is-primary"
            type="text"
            placeholder="Pesquisar entre todas as tags"
            hx-post="{% url 'search_tag2' %}"
            hx-target='#tag_selection2'
            hx-vals='{"espaco": "{{espaco.id}}"}'
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-trigger="keyup changed delay:500ms"
            name="search"
            hx-swap="innerHTML"
            >
          <span class="icon is-left">
            <i class="fas fa-search" aria-hidden="true"></i>
          </span>
        </p>
      </div>
              <div hx-get="{% url 'lista_categorias2' %}"
              hx-vals='{"espaco": "{{espaco.id}}"}'
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
              hx-trigger="load, taglistcreated from:window, taglistchangededit from:window, taglistchangeddelete from:window"
              hx-swap="innerHTML"
              hx-target="#categoria_lista2"
              >
              </div>
              <div id="categoria_lista2">
              </div>
              <br>              
              <div hx-get="{% url 'update_tags_selecionadas2' %}"
              hx-vals='{"espaco": "{{espaco.id}}"}'
              hx-target="#tags_selected2"
              hx-trigger="load, taglistchangededit from:body, taglistchanged from:body, taglistchangeddelete from:body, selecionardesselecionar from:body">
              </div>              
              <div hx-get="{% url 'lista_tags2' %}"
                  hx-vals='js:{"total": event.detail.value}'
                  hx-target="#tag_selection2"
                  hx-trigger="taglistcreated from:body, taglistchangededit from:body, taglistchangeddelete from:body, taglistchanged from:body">
              </div>
              <div class="columns is-gapless is-multiline is-mobile">
                <div class="column is-7">
                  <div id="tag_selection2">
                  </div>
                </div>
        <div class="column is-5">
          <div class="box"> 
            {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li class="help is-danger is-size-5" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
            <div id="tags_selected2">
              
            {% include 'questoes/tags_selecionadas2.html' %} 
            </div>   
          </div>
        </div>
      </div>
    </nav>
    <div class="box">      
      <div class="field">
        <label class="label is-size-5">Enunciado</label>
        {% if form_questao.body.errors %}
            <p class="help is-danger is-size-5">{{ form_questao.body.errors|first }}</p>
        {% endif %}
        <div class="control"> 
          {{form_questao.media}}        
          {% render_field form_questao.body  style=" height: 291px;" name="body" %}
        </div>
      </div>
    </div>
      <div class="column is-3" style="margin: 1.5rem;">
          <div class="field">
              <div class="control">
                  <button class="button is-info" type="submit" name="action">
                      SALVAR EDIÇÃO
                  </button>
              </div>
          </div>
      </div>      
  </div>
</form>
{% endwith %}