<div x-data="{ isOpenr: true }">
    <div x-show="isOpenr">       
        <div class="column has-text-right">          
          <button @click="isOpenr = !isOpenr" class="delete"></button>
        </div> 
{% for reply in replys %}
<div class="columns">
    <div class="column is-2">
      <article class="media">
        <div class="media-content">
          <p class="title is-6">{{ reply.autor.name }}</p>
          <p class="subtitle is-7">{{ reply.data }}</p>
        </div>
      </article>
    </div>
    <div class="column is-10">
      <div class="box">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>{{ reply.body|safe }}</p>
              <div class="buttons"
              hx-get="{% url 'reply_tab' %}"
              hx-trigger="atualizatabreply_{{reply.id}} from:body"
              hx-vals='{"reply": "{{reply.id}}"}'
              hx-swap="innerHTML"
              >
                {%include 'questoes/reply_tab.html'%}                 
              </div>
            </div>
          </div>
          
          {% if user.is_authenticated and comentario.autor == user %}
              <div x-data="{ comentarioconfirmardeletar: false }">
                <div class="media">
                  <div class="media-content">
                    <!-- Seu conteúdo aqui -->
                  </div>
                  <div class="media-right">
                    <div class="buttons">
                      <button class="button is-ghost">
                        <span class="icon is-small">
                          <i class="fa-solid fa-edit"></i>
                        </span>
                      </button>
                      <button class="button is-ghost" @click="comentarioconfirmardeletar = true">
                        <span class="icon is-small">
                          <i class="fa-solid fa-trash"></i>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
                <div x-cloak x-show="comentarioconfirmardeletar" class="notification is-info is-light">
                  <h1 class="title is-5">Tem certeza que deseja excluir o comentário?</h1>
                  <div class="columns is-mobile">
                    <div class="column">
                      <button class="button is-danger"
                              hx-post="{% url 'delete_reply' %}"
                              hx-vals='{"reply": "{{reply.id}}"}'
                              hx-trigger="click"
                              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                              @click.stop.prevent="comentarioconfirmardeletar = false">
                        Deletar
                      </button>
                    </div>
                    <div class="column is-narrow">
                      <button class="button is-light" @click.stop.prevent="comentarioconfirmardeletar = false">
                        Cancelar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
        </article>
      </div>
    </div>    
      </article>            
      
    </div>
  {% endfor %} 
  
  {% if request.user.is_authenticated %}
        
        <form class="form" name="form"      
            hx-post = {{request.path}}
            hx-vals='{"comentario": "{{comentario.id}}"}'
            hx-trigger="submit"                                  
          >
          {% csrf_token %}
          
          <article class="media">
            <div class="media-left">
              <p class="title is-6">{{ request.user.name }}</p>
            </div>
            <div class="media-content">
              <form action="" method="post">
                {% csrf_token %}
                <div class="field">
                  {{ formreply.body }}                  
                </div>
                <div class="field">
                  <p class="control">
                    <button type="submit" class="button is-info is-small">Postar</button>
                  </p>
                </div>
              </form>
            </div>
          </article>         

        </form>
        {% else %}
          <div class="notification is-danger">Faça login para postar uma resposta</div>
        {% endif %}    
    </div>
  </div>
</div>
</div>
</div>

