{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<div class="modal" x-bind:class="modaltagopen ? 'is-active' : ''" @taglistcreated="modaltagopen = false" @taglistchangededit="modaltagopen = false" @taglistchangeddelete="modaltagopen = false">
    <div class="modal-background" ></div>
    <div class="modal-content has-background-white py-5 px-5" id="tag-modal2" @click.stop.outside="modaltagopen = false">

        <div class="box">
            
            <button class="delete is-pulled-right" x-on:click.stop.prevent="modaltagopen = false"></button>
            <h1 class="title is-3">CRIAR NOVA TAG</h1>
            
            <form class="form" name="form"        
            hx-post = {{request.path}} 
            hx-trigger="submit"            
            hx-target="#tag-modal2"                                                  
            
            >
                {% csrf_token %}
                
                <!-- Campos do formulário -->
                <div class="field">
                    <label class="label is-size-5">Categoria</label>
                    <p class="is-size-6">Selecione uma categoria ou escreva uma nova:</p>
                    <div class="control has-icons-left">
                        <input class="input is-primary" id="modal-tag-category-form2"                        
                               type="text"
                               placeholder="Digite para pesquisar..."
                               name="category"
                               hx-post="{% url 'search_category2' %}"
                               hx-target='#category_selection2'
                               hx-vals='{"espaco": "{{espaco_desejado.id}}"}'
                               hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                               hx-trigger="keyup changed delay:500ms"                                                                                            
                               >
                            <span class="icon is-left">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                        {% if form.category.errors %}
                        <p class="help is-danger">{{ form.category.errors|first }}</p>
                        {% endif %}
                               
                    </div>
                </div>
                <div id="category_selection2">
                </div>

                <div class="field">
                    <label class="label is-size-5">Nome</label>
                    <div class="control">
                        {% render_field form.name class="input is-primary" placeholder="Digite o nome da nova tag" name="name" %}
                        {% if form.name.errors %}
                            <p class="help is-danger">{{ form.name.errors|first }}</p>
                        {% endif %}
                    </div>
                </div>
                
                <div class="field">
                    <div class="control">
                        <button class="button is-info" type="submit">Criar</button>
                    </div>
                </div>
            </form>
        </div>     
        
    </div>
</div>
{% endwith %}