
<p class="block">
    <strong>Tags selecionadas:</strong>
</p>

{% if selected_tags|length > 0 %}
    <div id="selectedTags2" style="display: none;">
        {{ selected_tags }}
    </div>
    <p class="block">
    {% for tag in selected_tags %}
        <span class="tag is-primary">
            {{ tag }}
            
            <button class="delete is-small"
            hx-post={% url 'processar_tags2' tag=tag %}
            hx-vals='{"espaco": "{{espaco.id}}"}'  
            hx-target="#tags_selected2"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-trigger="click"            
            ></button>
        </span>
    {% endfor %}
        
    {% else %}
    </p>
    <p class="block">
        A questão precisa ter pelo menos uma tag selecionada
    </p>
{% endif %}
                        
    
