{%extends 'base.html' %}
{%block content%}



 <div x-data="{ successmessage2: false }" x-cloak >
     <div class="has-text-centered has-background-success has-text-white p-2 has-border-success"
      x-cloak
      x-show="successmessage2"      
      @useredited.window="successmessage2 = true; setTimeout(() => successmessage2 = false, 5000)"      
      >      
      <p><span class="icon">
        <i class="fa-solid fa-circle-check"></i>
      </span> Alterações salvas com sucesso!</p>
    </div>
</div> 

<div class="columns" x-data="{
modalregisteropen2:false,
}">
<div id="editar-tag-modal-user"></div> 
  <div class="column is-2" id="informacoes_pessoais"
  hx-get="{% url 'informacoes_pessoais'%}"
  hx-trigger="useredited from:window"
  hx-target="#informacoes_pessoais"
  hx-swap="innerHTML">
    {% include 'perfil/informacoes_pessoais.html' %} 
  </div>   
    <div class="column is-10">
        <div class="block">
            <div class="box">
                Todas as atividades<br><br>
                   <div x-data="{ one: false, 
                                 two: false,
                                 three: false, 
                                 four: false,
                                 five: false,
                                 backgroundcolor: 'background-color: #3298dc;',
                                 textcolor: 'color: white;'                                       
                                 }"
                        >                       
                          <div class="button is-rounded " x-bind:class="one ? 'is-active' : ''"         
                            x-on:click="one = true; two = false; three = false;four= false;five= false;"
                              x-bind:style="one ? backgroundcolor : ''"
                              hx-get="{% url 'comunidades_criadas' %}"                
                           hx-vals='{"user": "{{user.id}}", "page":"{{ page }}"}'
                           hx-target="#questoes_perfil"
                           hx-trigger="click"
                           hx-swap="innerHTML"
                              >                             
                             <p x-bind:style="one ? textcolor : ''">Comunidades criadas</p>
                        </div>
                         <div class="button is-rounded " x-bind:class="two ? 'is-active' : ''" 
                           x-on:click="two = true; one = false; three = false; four= false;five= false;"
                             x-bind:style="two ? backgroundcolor : ''"
                             hx-get="{% url 'questoes_criadas' %}"                
                           hx-vals='{"user": "{{user.id}}", "page":"{{ page }}"}'
                           hx-target="#questoes_perfil"
                           hx-trigger="click"
                           hx-swap="innerHTML"
                             >
                            <p x-bind:style="two ? textcolor : ''">Questões criadas</p>
                        </div>
                         <div class="button is-rounded "x-bind:class="three ? 'is-active' : ''"
                            x-on:click="three = true; one = false; two = false; four= false;five= false;"
                              x-bind:style="three ? backgroundcolor : ''"
                           hx-get="{% url 'questoes_comentarios_resolucoes' %}"                
                           hx-vals='{"user": "{{user.id}}", "page":"{{ page }}"}'
                           hx-target="#questoes_perfil"
                           hx-trigger="click"
                           hx-swap="innerHTML"
                              >                             
                             <p x-bind:style="three ? textcolor : ''">Comentários e resoluções</p>
                        </div>
                         <div class="button is-rounded " x-bind:class="four ? 'is-active' : ''"
                            x-on:click="four = true; one = false; two = false; three = false;five= false;"
                           x-bind:style="four ? backgroundcolor : ''"
                           hx-get="{% url 'questoes_like' %}"                
                           hx-vals='{"user": "{{user.id}}", "page":"{{ page }}"}'
                           hx-target="#questoes_perfil"
                           hx-trigger="click"
                           hx-swap="innerHTML"
                           >                             
                             <p x-bind:style="four ? textcolor : ''">Likes</p>
                        </div>
                        <div class="button is-rounded " x-bind:class="five ? 'is-active' : ''"
                            x-on:click="five = true; one = false; two = false; three = false; four = false;"
                           x-bind:style="five ? backgroundcolor : ''"
                           hx-get="{% url 'questoes_respondidas' %}"                
                           hx-vals='{"user": "{{user.id}}", "page":"{{ page }}"}'
                           hx-target="#questoes_perfil"
                           hx-trigger="click"
                           hx-swap="innerHTML"
                        >                             
                             <p x-bind:style="five ? textcolor : ''">Respondidas</p>
                        </div>                        
                    </div>
            </div>
        </div>
    </div>
</div>
<div id="questoes_perfil">
</div>


{%endblock content%}